.offre_container{
    margin: 32px 128px 32px 128px;
}
.offre_container h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 16px;
}

.render_items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.render_items .card{
    background: rgba(0, 0, 0, 0.05);
    
    width:auto;
    height: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #000000;

}
.render_items .card .img{
    
    width: 330px;
    height: 230px;
}

.render_items .card .firs_info{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    
}

.render_items .card .firs_info p{
    opacity: 0.2;
}




.render_items .card .second_info{
    display: flex;
    justify-content: space-between;
    padding:0 8px 8px 8px;
}

.render_items .card .second_info a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
   
    background: #FFD200;
    color: #FFFFFF;

}